*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

.header{
    background: #ec6c19;


    &__container{
        max-width: 2000px;
        width: 90%;
        margin: auto;
    }

    &__top-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0;
        width: 80%;
        margin: auto;
        overflow: hidden;
    }

    &__top-left{
        margin: 5px;  
    }

    &__top-left-ul{
        list-style: none;
        display: flex;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }

    &__top-left-info{
        margin-left: 3px;
        margin-right: 3px;
    }

    &__top-right{
        width: 30%;
    }

    &__top-right-icon{
        display: flex;
        justify-content: flex-end;
        font-size: 20px;
        margin: 5px;
    }
    

    &__top-right-fb{
        margin-left: 14px;
        margin-right: 14px;
        color: white;
    }
    
    &__top-right-twitter{
        margin-left: 14px;
        margin-right: 14px;
        color: white;
    
    }
    
    &__top-right-linkedin{
        margin-left: 14px;
        margin-right: 14px;
        color: white;
    }

    &__bottom-wrap{
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-between;
    }

    &__bottom-logo-content{
        max-width: 200px;
        width: 100%;
        margin-left: 30px;
    }

    &__bottom-logo{
        width: 200px;
    }

    &__bottom-right{
        margin-top: 69px;
        max-width: 630px;
        width: 100%;
    }
    
    &__bottom-right-ul{
        display: flex;
    }

    &__bottom-menu{
        display: block;
        font-size: 20px;
        font-weight: bolder;
        text-decoration: none;
        padding: 10px 17px;
        margin: 10px 10px 10px 10px;
        background-color: #ec6c19;
        border: 1px solid white;
        border-radius: 5px;
        color: white;

        &:hover{
            background-color: white;
            color: #ec6c19;
            box-shadow: 0px 0px 2px 0px whitesmoke
            
        }
    }
}